body {background-color: powderblue;}
h1   {color: blue;}
p    {color: red;} 
ul {margin-top:0;}
li {float:left; padding-right:20px;}

nav {
  margin-top:10px;
   
}


.homeSection{
    clear: left;
    margin:50px 0 0 100px;
}

